<<<<<<< HEAD
body{
  background-image: url(../images/marble.jpg);
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

header ul{
  list-style: none;
  background: #333;
  padding: 0;
  margin: 0;
  width: 98vw;
  font-family: 'Diablo', sans-serif;
  position: fixed;
}

header ul li{
  display: inline-block;
  position: relative;
}

header ul li a{
  display: block;
  padding: 20px 25px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

header ul li ul.dropdown li{
  display: block;
}

header ul li ul.dropdown{
  width: 100%;
  background:#222020;
  position: absolute;
  z-index: 999;
  display: none;
}

header ul li a:hover{
  background:#ccc;
}

header ul li:hover ul.dropdown{
  display: block;
}


.standard{
  width: 50vw;
  height: 20vh;
  background-color: #222020;
  border: white;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
  
input[type=submit] {
  background-color: #8d0e0e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
input[type=submit]:hover {
  background-color: rgb(184, 17, 17);
}
  
.formularz {
  border-radius: 5px;
  background-color: #504c4cfd;
  padding: 20px;
}

.quest{
  float: left;
}
.tlo
{
  height: 300px;
  width: 400px;
}

.test-block{
  width:200px;
  border:2px solid rgba(71,236,30,1);
  background: rgba(71,236,30,0.7);
  text-align: center;
  color: #000;
  padding:20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container {
  max-width: 80vw; /* Szerokość kontenera */
  margin: 0 auto; /* Wyśrodkowanie kontenera */
  padding: 20px; /* Marginesy wewnętrzne kontenera */
  background-color: #222020;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Cień kontenera */
  padding-top: 9vh;
}

.content {
    padding: 20px; /* Marginesy wewnętrzne zawartości */
}

.content h1,h2,h3{
  font-family: 'Diablo', sans-serif;
  color: #D65A31;
}

.content li a{
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

.quests-icons{
  float:right;
=======
body{
  background-image: url(../images/marble.jpg);
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

header ul{
  list-style: none;
  background: #333;
  padding: 0;
  margin: 0;
  width: 98vw;
  font-family: 'Diablo', sans-serif;
  position: fixed;
}

header ul li{
  display: inline-block;
  position: relative;
}

header ul li a{
  display: block;
  padding: 20px 25px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

header ul li ul.dropdown li{
  display: block;
}

header ul li ul.dropdown{
  width: 100%;
  background:#222020;
  position: absolute;
  z-index: 999;
  display: none;
}

header ul li a:hover{
  background:#ccc;
}

header ul li:hover ul.dropdown{
  display: block;
}


.standard{
  width: 50vw;
  height: 20vh;
  background-color: #222020;
  border: white;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
  
input[type=submit] {
  background-color: #8d0e0e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
input[type=submit]:hover {
  background-color: rgb(184, 17, 17);
}
  
.formularz {
  border-radius: 5px;
  background-color: #504c4cfd;
  padding: 20px;
}

.quest{
  float: left;
}
.tlo
{
  height: 300px;
  width: 400px;
}

.test-block{
  width:200px;
  border:2px solid rgba(71,236,30,1);
  background: rgba(71,236,30,0.7);
  text-align: center;
  color: #000;
  padding:20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container {
  max-width: 80vw; /* Szerokość kontenera */
  margin: 0 auto; /* Wyśrodkowanie kontenera */
  padding: 20px; /* Marginesy wewnętrzne kontenera */
  background-color: #222020;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Cień kontenera */
  padding-top: 9vh;
}

.content {
    padding: 20px; /* Marginesy wewnętrzne zawartości */
}

.content h1,h2,h3{
  font-family: 'Diablo', sans-serif;
  color: #D65A31;
}

.content li a{
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

.quests-icons{
  float:right;
>>>>>>> e659c7fadc5ef46889fde2d303403c5d6ec24030
}